.book-list-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book-item {
  width: 150px;
  margin: 10px;
  text-align: center;
}

.book-item img {
  width: 100%;
  height: auto;
}

.book-item p {
  margin: 10px 0;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
