/* src/styles/LandingPage.css */
.landing-page {
  padding: 20px;
}

.header {
  padding: 20px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
}

.logo-heading {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px; /* Adjust the size as needed */
  height: 100px;
  margin-right: 15px; /* Space between the logo and the heading */
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-buttons {
  margin-top: 10px;
  border-radius: 8px;
}

.header-buttons button {
  margin: 5px;
  border-radius: 8px;
}

.search-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 280px;
  margin-right: 10px;
  border-radius: 10px;
}

.search-button {
  padding: 10px 20px;
  display: inline-block;
  margin: 5px;
  background-color: #007bff; /* Blue background color */
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
  text-decoration: none; /* Remove default underline */
  font-size: 16px;
}
.search-button:hover{
  background-color: #0056b3; /* Darker blue on hover */
}

.book-section {
  margin-top: 20px;
}
 
 .book-section h2 {
  text-align: center;
} 

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-item {
  margin: 10px;
  text-align: center;
}

.book-item img {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

.book-item p {
  margin: 10px 0; 
}

.book-item button{
  border-radius: 8px;
  background-color: #88ff00;
}
